<ui:composition xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <footer style="padding-top: 15px;">
        <div id="footerBanner" style="height: 18px"></div>
    </footer>


</ui:composition>
