#mainBlock{
    min-width: 960px;
}

#headerBanner{
    height: 115px;
    min-width: 960px;
    background:        
        url("/web/javax.faces.resource/headerBackground.png.xhtml");
    z-index: 5000;
    width: 100%;
}

#headerBanner img{
    padding-top: 15px;
}

#footerBanner{
    height: 18px;    
    background:
        url("/web/javax.faces.resource/footer.png.xhtml");
}

#navcontainer {
    background-color: #669966;
    padding-left: 0px;
    padding-right: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 0px;
}

#navcontainer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navcontainer ul li { 
    float:left;
    display: inline; 
}

#navcontainer ul li a{
    display: block;
    padding: 3px 8px;
    background-color: #669966;
    color: White;
    border-right: 1px solid #fff;
}

#navcontainer ul li a:hover{
    background-color: #99cc99;
    color: #000000;
}

#tabnavlist{
    padding: 5px 0px 3px 10px;
    margin: 0px 0px 0px 10px;
    border-bottom: 1px solid #666666;
    font: bold 15px Arial, Helvetica, sans-serif;
    width:780px;
}

#tabnavlist li{
    list-style: none;
    margin: 0;
    display: inline;
}

#tabnavlist li a{
    padding: 3px 7px 3px 7px;
    margin-left: 5px;
    border-top: 1px solid #333333;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
    border-bottom: none;
    background: #d7f0cd;
    text-decoration: none;
}

#tabnavlist li a:link { 
    color: #333333; 
    border-top: 1px solid #333333;
}

#tabnavlist li a:visited { 
    color: #333333; 
    border-top: 1px solid #333333;
}

#tabnavlist li a:hover{
    color: #000000;
    background: #99cc99;
    border-top: 1px solid #333333;
    border-color: #666666;
}

#tabnavlist li a#current{
    background: #ffffff;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #ffffff;
    cursor:n-resize;
}

#tabnavlist li a#disable{
    background: #eeeeee;
    border-top: 1px solid #333333;
    color: #999999;
    cursor:n-resize;
}

table#tab {
    margin: 0px 10px 3px 10px;
    border-width: 0px 1px 1px 1px;
    padding: 1px 5px 1px 5px;
    border-style: inset outset outset inset;
    border-color: #666666;
    background-color: #ffffff;
}
#tab {
    margin: 0px 10px 3px 10px;
    border-width: 0px 1px 1px 1px;
    padding: 1px 5px 1px 5px;
    border-style: inset outset outset inset;
    border-color: #666666;
    background-color: #ffffff;
    padding-left: 40px;

}

table.tab tr {
    border-width: 0px 1px 1px 1px;
    padding: 5px 1px 5px 5px;

    border-color: #666666;
    background-color: #eeeeee;
}

.inlineRadioButtons { } 
.inlineRadioButtons label {display: inline; }

.padTop40{
    /* padding-top: 40px; */
}

.padTop10{
    padding-top: 10px;
}

.padBottom10{
    padding-bottom: 10px;
}

.custom-search-form{
    width:300px;
    margin-top:5px;
}

#experimentsTable thead{
    background-color: rgb(215, 240, 205);
}

.select-btn-toolbar{
    padding-bottom: 5px;
}

.notifications {
    position: fixed;
    z-index: 9999;
}

/* Positioning */ 
.notifications.top-right {
    right: 10px;
    top: 25px;
}

.notifications.top-left {
    left: 10px;
    top: 25px;
}

.notifications.bottom-left {
    left: 10px;
    bottom: 25px;
}

.notifications.bottom-right {
    right: 10px;
    bottom: 25px;
}

/* Notification Element */
.notifications > div {
    position: relative;
    margin: 5px 0px;
}


/*Panel tabs*/
.panel-tabs {
    position: relative;
    bottom: 30px;
    clear:both;
    border-bottom: 1px solid transparent;
}

.panel-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.panel-tabs > li > a {
    margin-right: 2px;
    margin-top: 4px;
    line-height: .85;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #ffffff;
}

.panel-tabs > li > a:hover {
    border-color: transparent;
    color: #ffffff;
    background-color: transparent;
}

.panel-tabs > li.active > a,
.panel-tabs > li.active > a:hover,
.panel-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: rgba(255,255,255, .23);
    border-bottom-color: transparent;
}

.offer{
    background:#fff; 
    border:1px solid #ddd; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
    overflow:hidden;
}

.offer-radius{
    border-radius:7px;
}	
.offer-content{
    padding:0 20px 10px;
}

.btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
.btn-labeled {padding-top: 0;padding-bottom: 0;}
.black {color: black;}

.ui-widget-content a, .ui-widget-header a{
    color:#428bca;
}

.block {
    /*Dimensions*/
    height: 25px;
    width: 25px;
    overflow: hidden;

    /*Box Styling*/
    background: #f6da17;
    border: 1px solid black;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: inset -2px -2x 1px #d6a12d;
    -moz-box-shadow: inset -2px -2px 1px #d6a12d;
    -webkit-box-shadow: inset -2px -2px 1px #d6a12d;

    /*Text Styling*/
    color: white;
    text-align: center;
    font: bold 22px/16px 'Geostar Fill', cursive;
    text-shadow: 2px 2px 0 #000;
}