<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"                
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/templates/mainTemplate.xhtml">

    <ui:define name="page_title">CressExpress About Page</ui:define>
    <ui:define name="page_content">    	
        <div class="row">
            <div class="col-md-12">
                <h3>
                    Where do the data come from?
                </h3>
                <p>
                    CressExpress includes data from all ATH1 (GPL198) microarrays that had
                    CEL files deposited in the Gene Expression Omnibus at the time we collected
                    the data. The data shown in Release 4.0 were harvested in fall of 2013.
                    After obtaining the CEL files, we processed them using tools from the BioConductor
                    suite. CEL files were processed using RMA, which included probe level quantile
                    normalization and log (base 2) transformation.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>
                    How do you measure co-expression?
                </h3>
                <p>
                    CressExpress calculates Pearson's correlation coefficient using expression
                    data harvested from publicly-available microarray data. When you enter
                    a list of query genes, the tool looks up the corresponding probe set ids
                    and then compares your query's expression values to expression values for
                    all probe sets.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>
                    Which queries should I use? Probe set ids or gene ids?
                </h3>
                <p>
                    Probe sets are just a collection of probes on the Affymetrix array that
                    measure expression of a target gene. Because the labeled, sample RNAs are
                    anti-sense with respect to the target gene, the probes themselves precisely
                    match the sequence of the target gene. Because most genomes contain many
                    duplicated sequence segments, many probe sets are non-specific and can
                    interrogate more than one gene. And of course, some genes are not represented
                    on some array platforms; it depends on when the gene was discovered, when
                    the array was designed, and other factors. For these reasons, we strongly
                    recommend using probe sets ids, rather than gene ids, as inputs to the
                    co-expression analysis tool. However, if you prefer to enter gene ids,
                    the tool will attempt to match gene ids you entered with probe set ids
                    and expression values. Regardless, the tool output will report a pairing
                    between target gene ids and probe set ids. We get these from Affymetrix
                    or from the TAIR Web site.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>
                    How do I search for experiments?
                </h3>
                <p>
                    If you know some keywords that describe an experiment, you can use them
                    to search for experiments. When you enter keywords, a search is initiated
                    which looks up those keywords in the title or the summary of the experiments
                    stored in the database. If a match is found, that experiment is added to
                    the search result and finally the results of search are returned. -What
                    is PLC (pathway-level co-expression) analysis? PLC identifies genes and
                    probe sets that are co-expressed with all or some of the query genes/probe
                    sets you entered in Step 2. PLC and how it works is described in detail
                    in Wei et al. [
                    <a href="http://www.ncbi.nlm.nih.gov/sites/entrez?cmd=Retrieve&amp;db=PubMed&amp;list_uids=16920875&amp;dopt=abstractplus">PMID:
                        16920875</a>
                    /
                    <a href="http://dx.doi.org/10.1104/pp.106.080358">DOI:
                        10.1104/pp.106.080358</a>
                    ]PLC uses the output from the co-expression linear regression analysis
                    to identify probe sets and target genes that are co-expressed with two
                    or more of your query genes. PLC then reports these co-expression partners
                    in order of the number of query genes with which they are co-expressed
                    and, then, to break ties, in order of average r-squared values.
                </p>
                <p>
                    In essence, PLC analysis identifies the part of the overall co-expression
                    network that directly neighbors two or more of your query genes or probe
                    sets. The co-expression tool doesn't actually compute the entire network;
                    it knows enough about the network to find the shared neighbors for all
                    your query genes.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>
                    Why do I need to enter my email in Step 5?
                </h3>
                <p>
                    CressExpress analyses will typically take a few minutes (possibly more)
                    to finish. When your analysis run completes, the tool will send you an
                    email with a URL telling you where you can obtain your results files.
                </p>
            </div>
        </div>
    </ui:define>

</ui:composition>