<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"                
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/templates/wizardTemplate.xhtml"
                xmlns:custom="http://java.sun.com/jsf/composite/custom"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="step_content">   	

        <h:form id="thresholdInputForm">
            <custom:navigationActions id="navigationComponent"
                                      activeStep="step4" 
                                      navigateNextAction="#{thresholdSelection.navigateNext}" 
                                      navigatePrevAction="#{thresholdSelection.navigatePrev}"      
                                      isFinalStep="false"/>
            <div class="step-content">
                <div class="row">
                    <div class="col-md-8">
                        <div class="panel panel-default">
                            <div class="panel-heading clearfix">
                                <div class="panel-title pull-left">
                                    Enter correlation threshold for pathway-level co-expression.

                                </div>
                                <div class="pull-right">
                                    <a href="about.xhtml#PLC">
                                        <img src="images/help.gif" alt="Help" width="59" height="22" border="0" hspace="20" align="bottom" />
                                    </a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <p>

                                    <p:inputText id='threshold' required="true" value="#{thresholdSelection.threshold}" validatorMessage="Value must be between 0.01 and 1.00">
                                        <f:validateDoubleRange minimum="0.01" maximum="1.00" />
                                    </p:inputText>

                                    <h:panelGroup id="messages" layout="block" rendered="#{not empty facesContext.messageList}" styleClass="alert alert-danger">
                                        <h:messages for="threshold"/>
                                    </h:panelGroup>
                                </p>

                                <p>
                                    This step identifies genes that are co-expressed with two or more of the query genes/probe sets
                                    you entered in Step 1. To set the threshold for co-expression, pick a correlation cutoff between 
                                    0 and 1. Correlation closer to 1 indicates a higher degree of co-expression. 
                                </p>
                                <p>
                                    <strong>Tip:</strong> Correlation threshold of 0.55 or better yields good results in most cases.
                                </p> 
                            </div>
                        </div>
                    </div>
                </div>


            </div>


        </h:form>
    </ui:define>

</ui:composition>