<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"                
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/templates/wizardTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:custom="http://java.sun.com/jsf/composite/custom"
                xmlns:c="http://java.sun.com/jsp/jstl/core">


    <ui:define name="step_content"> 
        <h:form> 
            <custom:navigationActions id="navigationComponent"
                                      activeStep="step1" 
                                      navigateNextAction="#{releaseVersionSelection.navigateNext}" 
                                      navigatePrevAction="#{releaseVersionSelection.navigatePrev}"      
                                      prevLinkAvailable="false" />
            
            <div class="step-content">
                <div class="step-pane active" data-step="1">
                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                <strong>Choose a starting point</strong>
                                <a href="about.xhtml#DATARELEASE">
                                    <img src="images/help.gif" alt="Help" width="59" height="22" border="0" hspace="20" align="bottom" />
                                </a>
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <h:selectOneRadio id="versionSelectOne" value="${releaseVersionSelection.selectedVersion}" converter="releaseVersionConverter" styleClass="inlineRadioButtons">                            
                                <f:selectItems value="#{releaseVersionSelection.availableVersions}" itemValue="#{version}" var="version" itemLabel="#{releaseVersionSelection.getVersionLabel(version)}"/>
                                <p:ajax event="change" partialSubmit="true" process="versionSelectOne"/>
                            </h:selectOneRadio>
                        </div>
                    </div>

                </div>           
            </div>


        </h:form>
    </ui:define>

</ui:composition>


