<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"                
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/templates/wizardTemplate.xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:custom="http://java.sun.com/jsf/composite/custom">
    <ui:define name="step_content"> 

        <h:form id="geneSelectionForm">
            <custom:navigationActions id="navigationComponent"
                                      activeStep="step2" 
                                      navigateNextAction="#{geneSelection.navigateNext}" 
                                      navigatePrevAction="#{geneSelection.navigatePrev}"      
                                      isFinalStep="false"/>
            <div class="step-content">
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            <strong>Select input ID type</strong>
                            <a href="about.xhtml#IDS">
                                <img src="images/help.gif" alt="Help" width="59" height="22" border="0" hspace="30" align="bottom" />
                            </a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h:selectOneRadio id="inputTypeSelection" value="${geneSelection.idType}">
                            <f:selectItems id="inputTypeItems" value="#{geneSelection.idTypeValues}" var="idType" itemValue="#{idType}" itemLabel="#{idType.label}"/>
                            <f:ajax execute="inputTypeSelection"/>
                        </h:selectOneRadio>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        Enter a list of AGI (Arabidopsis Genome Initiative) IDs or Affymetrix probe set IDs.
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <b>(Maximum #{geneSelection.maxInputSize})</b>
                    </div>
                </div>

                <h:panelGroup id="geneSelectionBlock" layout="block" styleClass="row">
                    <div class="col-md-12">
                        <p:dialog id="dialogModal" resizable="false" width="600" visible="#{not empty facesContext.messageList}" modal="true">
                            <p:messages id="msgs" />
                            
                            <h:outputLink id="nextButton" rendered="#{not empty geneSelection.validProbeSets}" 
                                          value="step3.xhtml" styleClass="pull-right btn btn-danger" >
                                <h:outputText value="Ignore and Continue" style="color: #fff;"/>
                            </h:outputLink>  
                            <h:outputText rendered="#{empty geneSelection.validProbeSets}" value="No valid inputs provided" />
                        </p:dialog>
                    </div>
                    <div class="col-md-6">
                        <p:inputTextarea id="geneSelectionTextArea" rows="10" cols="50" completeMethod="#{geneSelection.autoComplete}"  
                                         queryDelay="500" minQueryLength="5" value="#{geneSelection.geneInput}" onkeyup="updateIdCount()"
                                         validator="#{geneSelection.validateUserInput}" autoResize="false">
<!--                            <p:ajax event="change" process="geneSelectionTextArea" update="geneSelectionBlock" />-->
                        </p:inputTextarea>
                        <div class="wordCount text-uppercase">
                            <strong><span></span></strong>
                        </div>
                    </div>
                </h:panelGroup> 
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>Use gene to probeset mapping from</label>
                        <h:selectOneMenu id="matchMethodSelection" value="#{geneSelection.selectedMatchMethod}" converter="matchMethodConverter" styleClass="form-control">
                            <f:selectItems value="#{geneSelection.matchMethodOptions}" var="method" itemValue="#{method}" itemLabel="#{method.name}"/>  
                            <f:ajax execute="matchMethodSelection" />
                        </h:selectOneMenu>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        NOTE: List can be comma, space, or tab-delimited
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <em>
                            Example: AT1G69680, AT1G44575, AT1G52220, AT1G56145 or 251784_at, 245213_at, 259838_at, 262093_at
                        </em>
                    </div>
                </div>
            </div>

        </h:form>
    </ui:define> 
    <ui:define name="additional-js">
        <script type="text/javascript">
            function updateIdCount() {
                var maxWords = 30;
                var $this, wordcount;
                $this = jQuery('textarea');
                wordcount = $this.val().split(/[\W]+/).length;
                if (wordcount > maxWords) {
                    jQuery(".wordCount strong span").text(wordcount + " / " + maxWords + " IDs");
                    alert("You've reached the maximum allowed IDs.");
                    return false;
                } else {
                    return jQuery(".wordCount strong span").text(wordcount + " / " + maxWords + " IDs");
                }
            }
        </script>
    </ui:define>

</ui:composition>