<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"                
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/templates/mainTemplate.xhtml"

                xmlns:custom="http://java.sun.com/jsf/composite/custom"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="page_title">CressExpress FAQ Page</ui:define>
    <ui:define name="page_content">    	
        <h:form>
            <p:remoteCommand name="rc" update="msgs" actionListener="#{releaseVersionSelection.execute}" />
            <p:growl id="msgs" showDetail="true" />
            <p:commandButton type="button" onclick="rc()" value="Execute" icon="ui-icon-refresh" />
        </h:form>

    </ui:define>

</ui:composition>